@font-face{
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.woff')
}
@font-face{
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.woff')
}
@font-face{
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.woff')
}
*{
    border: none;
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#FF5665,#677DFF);
}
h1{
    font-family: 'Poppins-SemiBold';
    text-align: center;
    font-size: 4.1rem;
    margin: 15vh 0 2rem;
    color: white;
    text-shadow: 1px 2px 7px rgba(0,0,0,.3);;
}
.content{
    text-align: center;
    background-color: #E4EAFF;
    margin: 0 auto;
    width: 35rem;
    padding: 4rem 4rem;
    border-radius: .6rem;
    border-top: 1.75rem solid white;
}
.input_form :nth-child(2){
    margin: 0 1.75rem;
    width: 12.75rem;
}
.input, button{
    text-align: center;
    border-radius: .4rem;
    font-family: 'Poppins-Medium';
}
.input{
    background-color: white;
    color: gray;
    font-size: 1.3rem;
    width: 9rem;
    padding: 2rem 1rem;
    transition: 300ms;
}
.dateYear:focus{
    transform: scale(1.2);
    font-size: 1.5rem;
}
.input, .button button{
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}
.button{
    margin: 2.8rem 0;
}
.button button{
    font-size: 1.1rem;
    padding: .8rem;
    font-family: 'Poppins-Regular';
    background-color: #FF5665;
    margin: 0 .7rem;
    color: #E4EAFF;
}
.display{
    font-family: 'Poppins-Medium';
    color: rgba(255,86,101,.75);
    font-size: 1.55rem;
}