@font-face{
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.woff')
}
@font-face{
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.woff')
}
@font-face{
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.woff')
}
*{
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}
:root{
    background-image: linear-gradient(#FF5665,#677DFF);
    font-size: 18px;
}
h1{
    font-family: 'Poppins-SemiBold';
    text-align: center;
    font-size: 3rem;
    margin: calc(25vh - 8rem) 0 0;
    color: white;
    text-shadow: 1px 2px 7px rgba(0,0,0,.3);
}
.content{
    text-align: center;
    background-color: #E4EAFF;
    margin: 8rem auto ;
    width: 74vw;
    max-width: 42rem;
    padding: 4rem 4rem;
    border-radius: .6rem;
    border-top: 1.75rem solid white;
}
.input_form{
    display: flex;
    justify-content: center;
    gap: .8rem;
}
.input_form > *{
    background-color: white;
    color: gray;
    font-size: 2rem;
    padding: 1.5rem;
    transition: 0.3s;
    width: 13rem;
}
.input_form > *, button{
    text-align: center;
    border-radius: .4rem;
    font-family: 'Poppins-Medium';
}
.input_form :nth-child(2){
    text-align: justify;
}
.input_form :nth-child(1):focus,.input_form :nth-child(3):focus{
    transform: scale(1.2);
    font-size: 1.5rem;
}
.input_form > *, .button button{
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}
.button{
    margin: 2.8rem 0;
    display: flex;
    justify-content: center;
    gap: .8rem;
}
.button > *{
    font-size: 1.3rem;
    padding: 1rem;
    font-family: 'Poppins-Regular';
    background-color: #FF5665;
    color: #E4EAFF;
}
.display{
    font-family: 'Poppins-Medium';
    color: rgba(255,86,101,.75);
    font-size: 1.8rem;
}
@media (min-width:990px){
    :root{
        font-size: 9px;
    }
}